body, html {
    text-align: center;
    vertical-align: middle;
}

img {
    width: 450px;
    height: 450px;
    position: relative;
    top: 100px;
}

img:not(.original) {
    width: 450px;
    height: 450px;
}


@keyframes slide {
    0% {
        translate: 0;
    }

    99% {
        translate: -555px;
    }

    100% {
        translate: 0;
    }
}

button {
    width: 75px;
    height: 250px;
    font-size: large;
}